* {
  padding :0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;

}
.bg-success {
  background-color: #6dad1f;
}
.bg-danger {
  background-color: #e07000;
}
.bg-primary {
  background-color: #ffc300;
}


#root {
  height: 100%;
  min-width: 1240px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between ;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #fff;
}
.nav-items > ul{ 
  max-width : 400px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
}

.nav-items > ul > li {
  padding: 10px;
  color : #001d3d;
  font-size: 18px;
  font-weight: 500;
}

.nav-items > ul > li:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #ffc300;
}

.logo {
  margin-left: 10px;
  width: 70px;
}

.cart, .profile, .home{
  width: 60px;
}

.container {
  margin-top: 90px;
}
.search-container {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  max-width : 500px;
  align-items: center;
  margin: auto;
}

.search-input {
  height: 30px;
  width: 400px;
  appearance: none;
  background-color: #EEEEEE;
  border: 0px inset rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  padding : 5px;
}

.search-btn {
  background-color: #ffc300;
  height: 30px;
  color : #001d3d;
  width : 60px;
  border-radius: 7px;
  border: #ffc300;
  outline: none;
  font-size: 16px;
}
.search-btn:hover {
  cursor: pointer;
}

.error-container {
  height: 50px;
  margin: auto;
  text-align: center;
}
.hide {
  display: none;
}
.error-msg {
  width : 50px;
  height: 30px;
  font-size: 14px;
  color : #c70039;
}
.card{
  width: 250px;
  padding: 10px;
  margin-bottom: 30px;
}
.card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card > img {
  width: 100%;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  word-spacing: 2px;
}

.card-text {
  color: gray; 
  font-size: 12px;
}
.card-params {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-rating {
  width: 22px;
  padding-left: 3px;
  border-radius: 5px;
  font-size: 11px;
  color:#EEEEEE;
}

.eta {
  font-size: 14px; 
  color: gray; 
  padding-left:11px; 
  padding-right: 11px;

}


.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap : 20px;
  justify-content: space-evenly;
  padding-top: 30px;
  min-width: 1200;
}

.footer-div {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
  line-height: 50px;
  background: #ffc300;
  color: #001d3d;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.red-heart {
  color : #c70039;
}