* {
  padding :0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

body,html {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}


a {
  color: inherit;
	text-decoration: none;
}
.bg-success {
  background-color: #6dad1f;
}
.bg-danger {
  background-color: #e07000;
}
.bg-primary {
  background-color: #ffc300;
}

.bg-shimmer-dark {
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between ;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #fff;
}
.nav-items > ul{ 
  max-width : 500px;
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-right : 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-items > ul > li {
  padding: 10px;
  color : #001d3d;
}

.nav-btn:hover {
  background-color: #ffc300;
  cursor: pointer;
}

.nav-btn {
  width : 70px;
  height: 30px;
  color : #001d3d;
  flex-basis : 60px;
  border-radius: 5px;
  border: #001d3d;
  background-color: #fff;
  outline: none;
  font-size: 16px;
}


.logo {
  margin-left: 10px;
  width: 70px;
}

.cart, .loggedOut, .loggedIn, .home{
  width: 50px;
}
.search-icon {
  width : 20px;
  height : 20px;
}

.container {
  margin-top: 90px;
  min-height: 79vh;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  max-width : 500px;
  align-items: center;
  margin: auto;
}

.search-input {
  height: 30px;
  flex-basis: 350px;
  appearance: none;
  background-color: #EEEEEE;
  border: 0px inset rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  padding : 5px;
}

.search-btn, .login-btn {
  background-color: #ffc300;
  height: 30px;
  color : #001d3d;
  flex-basis : 60px;
  border-radius: 7px;
  border: #ffc300;
  outline: none;
  font-size: 16px;
} 
.search-btn:hover {
  cursor: pointer;
}

.error-container {
  height: 50px;
  margin: auto;
  text-align: center;
}
.hide {
  display: none;
}
.error-msg {
  width : 50px;
  height: 30px;
  font-size: 14px;
  color : #c70039;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap : 20px;
  justify-content: space-evenly;
}
.link-styles, .card{
  flex-basis : 250px;
  padding: 10px;
  margin-bottom: 10px;
}
.card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card > img {
  width : 100%;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  word-spacing: 2px;
  width: 60%;
}
.card-tags {
  color: #686b78;
  font-size: 12px;
  width: 80%;
}
.card-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  color: #535665;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
}
.rating {
  display: flex;
  align-items: center;
  height: 20px;
  width: 43px;
  padding: 0 5px;
  gap: 5px;
}
/* Footer Style */
.footer-div {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 50px;
  line-height: 50px;
  background: #ffc300;
  color: #001d3d;
  text-align: center;
}
.footer-text {
  text-align: center;
}
.red-heart {
  color : #c70039;
}

/* Restaurant Menu Styles */
.restaurant-menu {
  margin-top: 90px;
  min-height: 79vh;
}
.restaurant-summary {
  display: flex;
  height : 245px;
  flex-basis : 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #001d3d;
  color : #eee;
  padding: 30px;
}
.restaurant-img {
  width : 254px;
  height: 165px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 540px;
  margin: 20px;
}
.restaurant-title {
  font-size: 32px;
  max-width: 538px;
  font-weight: 300;
}
.restaurant-tags {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: inherit;
  opacity: .7;
  font-size: 15px;
  max-width: 538px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 342px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 0 5px;
  gap: 5px;
  
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-title-wrap {
  padding : 20px;
}
.menu-count {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40,44,63,.45);
  width: 70%;
  letter-spacing: -.3px;
  font-size: 1rem;
}

.menu-items-container { 
  margin-top: 30px;
  width : 848px;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 848px;
  max-height : 250px;
  padding : 20px;
  border-bottom: rgba(40,44,63,.45) 0.5px solid;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
}
.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 118px;
  height: 150px;
}
.menu-item-img {
  width : 118px;
  height: 96px;
}
.add-btn {
  background-color: #ffc300;
  color: #001d3d;
  width: 94px;
  height: 34px;
  cursor: pointer;
  outline: none;
  border-color: #ffc300;
  margin-top: 10px;
  border-radius: 5px;
}

.item-title {
  width: 60%;
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40,44,63,.45);
  width: 80%;
  letter-spacing: -.3px;
  font-size: 1rem;
  overflow: hidden;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width : 40%
}

/*Shimmer CSS */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap : 20px;
  justify-content: space-evenly;
}
.shimmer-card {
  flex-basis : 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}

.restaurant-summary .shimmer-img {
  height: 144px;
  width: 230px;
}

.shimmer-menu-card {
  display: flex;
  justify-content: space-evenly;
  width : 848px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-item-details{
  width : 438px;
}

.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 118px;
  height: 150px;
}
.shimmer-img-wrapper .shimmer-img {
  width : 118px;
  height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 94px;
  height: 34px;
  margin-top: 10px;
}

.shimmer-w60 {
  width: 60%;
  margin-top: 10px;
}

.shimmer-w40 {
  width: 40%;
  margin-top: 10px;
}

.shimmer-w20 {
  width: 20%;
  margin-top: 4px;
}
/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}

.stroke-color {
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-btn {
    width : 30px;
    height: 20px;
    font-size: 12px ;
  }
  .search-input {
    flex-basis: 300px;
    font-size: 12px;
  }
  .search-btn {
    flex-basis: 50px;
    font-size: 12px;
  }
  .link-styles, .card {
    flex-basis: 150px;
  } 
  .shimmer-card  {
    flex-basis: 150px;
  }

  .card-details,  .shimmer-details{
    flex-direction: column;
    align-items: flex-start;
  }

  .card > img, .shimmer-container .shimmer-img {
    height: 81px;
    width: 130px;
  }

  .restaurant-details {
    font-weight: 400;
    font-size: 12px;
  }

  .restaurant-img {
    width : 130px;
    height: 81px;
  }
}


.none {
  display: none;
}

.login-container {
  margin-top: 100px;
  min-height: 36vw;
  text-align: center;
  display: flex;
}

.login-form {
  border: #686b78 1px solid;
  flex-basis : 500px;
  height: 300px;
  margin: auto;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-direction: column;
}

.login-msg {
  color: #001d3d;
  font-size: 18px;
  font-weight: 800;
}

.email, .pwd {
  display: flex;
  justify-content: center;
}


#email, #pwd {
  width : 200px;
}

.email-label, .pwd-label {
  padding : 10px;
}
.submit-btn{
  background-color: #ffc300;
  color : #001d3d;
  width : 80px;
  height: 30px;
  border-radius: 7px;
  border: #ffc300;
  outline: none;
  font-size: 16px;
} 